
<form [formGroup]="form" (ngSubmit)="onSubmit()" >
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px" >

    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input type="text" matInput placeholder="Nombre" formControlName="nombre" >
      @if ( form.get('nombre')?.hasError('required') ) {
        <mat-error>Campo requerido</mat-error>
      }
    </mat-form-field>


    <mat-form-field appearance="outline">
      <mat-label>Apellido paterno</mat-label>
      <input type="text" matInput placeholder="Paterno" formControlName="paterno" >
      @if (f['paterno'].hasError('required')) {
        <mat-error>Campo requerido</mat-error>
      }
    </mat-form-field>


    <mat-form-field appearance="outline">
      <mat-label>Apellido materno</mat-label>
      <input type="text" matInput placeholder="Materno" formControlName="materno" >
    </mat-form-field>


    <mat-form-field appearance="outline">
      <mat-label>Correo</mat-label>
      <input type="email" matInput placeholder="Correo" formControlName="correo" >
      <mat-error *ngIf="f['correo'].hasError('required')">Campo requerido</mat-error>
      <mat-error *ngIf="f['correo'].hasError('email')">Correo invalido</mat-error>
    </mat-form-field>

    <!-- <button type="button" (click)="onSubmit()" mat-raised-button>Pruebas</button> -->
    <button type="submit"  mat-raised-button>Guardar</button>

  </div>
</form>

